.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .post{
  s
} */

.postCard{
justify-content: center!important;
}

.btnt{
  background: none!important;
  border: none;
  padding: 0!important;
  text-decoration: none;
}
.btnt:hover{
  color: #777 !important;
}

.login{
  color: black!important;
  float:right!important;
  background-color:#61dafb!important;
}

.login:hover{
  color: #eee !important;
  background-color:#76d8f3!important;
}

.formComent{
  display:flex;
  height: 2rem;
  align-items: center;
}

.formComent input[type="text"]{
  flex: 1;
}
.formComent button{
  width: 40px!important;
  background: none!important;
  border: none;
  padding: 0!important;
  
}
.formComent button{
  background: #76d8f3;
}

.text-post{
  text-align: start!important;
  padding: 20px;
}

.coment-post p{
  padding-left: 20px;
  background-color:#aaa2a2 ;
  flex: 1;
}

.comment-row{
  display:flex;
  margin-left: 20px;
}

.row-poenter{
  width: 20px;
  height: 20px;
}